/* header {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #333333;
}

#text {
    font-family: 'Space Mono', monospace;
    width: 50%;
    padding: 10em;
}

#text h1 {
    font-size: 64px;
}

#text p {
    font-size: 24px;
    width: 55%;
    color: #4f4f4f;
}

#wrapper {
    display: flex;
}

img {
    width: 50%;
    padding: 5em;
}

footer {
    margin: 3em auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #BDBDBD;
    position: ;
}

footer span {
    font-weight: bold;
} */

body {
    margin: auto 1.5em;
}

header {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #333333;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em ;
}

img {
    width: 90%;
    margin: 3em auto;
}

#text {
    font-family: 'Space Mono', monospace;
}

#text h1 {
    font-size: 48px;
    font-weight: 700;
}

#text p {
    font-size: 18px;
    color: #4f4f4f;
    margin-bottom: 4em;
}

button {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 1.5em;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #BDBDBD;
    position: absolute;
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
}

footer p {
    padding: 1em auto;
}


footer span {
    font-weight: bold;
}